# F1 Stiria GP
Notes:
- Beautiful Soup no working
- Let's try with pandas url
##This is a continous to F1 project
the idea is creating a grand dataset with F1 season 2020 - 2025

In [1]:
import numpy as np
import pandas as pd

# Obtein Data
FP1 stiria GP

In [2]:
# FP1 stiria Gp
url = "https://es.motorsport.com/f1/results/2020/gp-de-estiria/?st=FP1"
tables = pd.read_html(url)

df = tables[0]  # Selecciona la primera tabla
df.to_csv("fp1_resultados_2020_sty.csv", index=False)

# Obtein Data
FP2 stiria GP

In [3]:
# FP2 stiria Gp
url = "https://es.motorsport.com/f1/results/2020/gp-de-estiria/?st=FP2"
tables = pd.read_html(url)

df = tables[0]  # Selecciona la primera tabla
df.to_csv("fp2_resultados_2020_sty.csv", index=False)

# Obtein Data
FP3 stiria GP

In [4]:
# Grid stiria Gp
url = "https://es.motorsport.com/f1/results/2020/gp-de-estiria/?st=GRID"
tables = pd.read_html(url)

df = tables[0]  # Selecciona la primera tabla
df.to_csv("Grid_resultados_2020_sty.csv", index=False)

# Obtein Data
Race stiria GP

In [5]:
# Race stiria Gp
url = "https://es.motorsport.com/f1/results/2020/gp-de-estiria/?st=RACE"
tables = pd.read_html(url)

df = tables[0]  # Selecciona la primera tabla
df.to_csv("Race_resultados_2020_sty.csv", index=False)

# Read Data frame
FP1 stiria GP

In [7]:
# Leer sin encabezado
df_raw = pd.read_csv('/content/fp1_resultados_2020_sty.csv', header=None)

# Asignar la fila 1 como nombres de columna
df_clean_fp1Sty = df_raw.copy()
df_clean_fp1Sty.columns = df_clean_fp1Sty.iloc[1]  # Fila 1 como encabezado

# Eliminar las filas 0 y 1 (encabezado y basura previa)
df_clean_fp1Sty = df_clean_fp1Sty.iloc[2:]

# Reiniciar el índice
df_clean_fp1Sty.reset_index(drop=True, inplace=True)

# Mostrar el resultado
print(df_clean_fp1Sty.head())

1 Cla                          Piloto   # Unnamed: 3_level_1        Chasis  \
0   1         S. PÃ©rez  Racing Point  11                NaN  Racing Point
1   2  M. Verstappen  Red Bull Racing  33                NaN      Red Bull
2   3             V. Bottas  Mercedes  77                NaN      Mercedes
3   4           L. Hamilton  Mercedes  44                NaN      Mercedes
4   5         L. Stroll  Racing Point  18                NaN  Racing Point

1     Motor Vueltas           Tiempo Intervalo NeumÃ¡ticos  ...  \
0  Mercedes      32         1'04.867       NaN         NaN  ...
1     Honda      31  +0.096 1'04.963     0.096         NaN  ...
2  Mercedes      31  +0.222 1'05.089     0.126         NaN  ...
3  Mercedes      29  +0.253 1'05.120     0.031         NaN  ...
4  Mercedes      36  +0.529 1'05.396     0.276         NaN  ...

1 Unnamed: 90_level_1 Unnamed: 91_level_1 Unnamed: 92_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 93_level_1 Unnamed: 94_level_1 Unnamed: 95_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 96_level_1 Unnamed: 97_level_1 Unnamed: 98_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 99_level_1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 100 columns]

# Selected Rows
stiria GP FP2

In [9]:
# Seleccionar las columnas de interés
selected_columns_df_clean_fp1Sty = df_clean_fp1Sty[['Cla', 'Piloto', '#', 'Chasis','Motor','Vueltas','Tiempo' , 'Intervalo']]
print(selected_columns_df_clean_fp1Sty.head())

1 Cla                          Piloto   #        Chasis     Motor Vueltas  \
0   1         S. PÃ©rez  Racing Point  11  Racing Point  Mercedes      32
1   2  M. Verstappen  Red Bull Racing  33      Red Bull     Honda      31
2   3             V. Bottas  Mercedes  77      Mercedes  Mercedes      31
3   4           L. Hamilton  Mercedes  44      Mercedes  Mercedes      29
4   5         L. Stroll  Racing Point  18  Racing Point  Mercedes      36

1           Tiempo Intervalo
0         1'04.867       NaN
1  +0.096 1'04.963     0.096
2  +0.222 1'05.089     0.126
3  +0.253 1'05.120     0.031
4  +0.529 1'05.396     0.276

# Rename rows
FP1 Stiria GP

In [ ]:
selected_columns_df_clean_fp1Sty = selected_columns_df_clean_fp1Sty[['Cla', 'Piloto', '#', 'Chasis','Motor','Vueltas','Tiempo' , 'Intervalo']].copy()

excluir = ["Piloto", "#", "Chasis", "Motor"]

selected_columns_df_clean_fp1Sty.rename(
    columns={col: f"{col}_fp1" for col in selected_columns_df_clean_fp1Sty.columns if col not in excluir},
    inplace=True
)

In [12]:
print(selected_columns_df_clean_fp1Sty.head())

1 Cla_fp1                          Piloto   #        Chasis     Motor  \
0       1         S. PÃ©rez  Racing Point  11  Racing Point  Mercedes
1       2  M. Verstappen  Red Bull Racing  33      Red Bull     Honda
2       3             V. Bottas  Mercedes  77      Mercedes  Mercedes
3       4           L. Hamilton  Mercedes  44      Mercedes  Mercedes
4       5         L. Stroll  Racing Point  18  Racing Point  Mercedes

1 Vueltas_fp1       Tiempo_fp1 Intervalo_fp1
0          32         1'04.867           NaN
1          31  +0.096 1'04.963         0.096
2          31  +0.222 1'05.089         0.126
3          29  +0.253 1'05.120         0.031
4          36  +0.529 1'05.396         0.276

# Read Data Frame
FP2 Stiria GP

In [8]:
# Leer sin encabezado
df_raw = pd.read_csv('/content/fp2_resultados_2020_sty.csv', header=None)

# Asignar la fila 1 como nombres de columna
df_clean_fp2Sty = df_raw.copy()
df_clean_fp2Sty.columns = df_clean_fp2Sty.iloc[1]  # Fila 1 como encabezado

# Eliminar las filas 0 y 1 (encabezado y basura previa)
df_clean_fp2Sty = df_clean_fp2Sty.iloc[2:]

# Reiniciar el índice
df_clean_fp2Sty.reset_index(drop=True, inplace=True)

# Mostrar el resultado
print(df_clean_fp2Sty.head())

1 Cla                          Piloto   # Unnamed: 3_level_1        Chasis  \
0   1  M. Verstappen  Red Bull Racing  33                NaN      Red Bull
1   2             V. Bottas  Mercedes  77                NaN      Mercedes
2   3         S. PÃ©rez  Racing Point  11                NaN  Racing Point
3   4         L. Stroll  Racing Point  18                NaN  Racing Point
4   5            C. Sainz  McLaren F1  55                NaN       McLaren

1     Motor Vueltas           Tiempo Intervalo NeumÃ¡ticos  ...  \
0     Honda      27         1'03.660       NaN         NaN  ...
1  Mercedes      36  +0.043 1'03.703     0.043         NaN  ...
2  Mercedes      43  +0.217 1'03.877     0.174         NaN  ...
3  Mercedes      43  +0.581 1'04.241     0.364         NaN  ...
4   Renault      45  +0.673 1'04.333     0.092         NaN  ...

1 Unnamed: 90_level_1 Unnamed: 91_level_1 Unnamed: 92_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 93_level_1 Unnamed: 94_level_1 Unnamed: 95_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 96_level_1 Unnamed: 97_level_1 Unnamed: 98_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 99_level_1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 100 columns]

# Selected Rows
Stiria GP FP2

In [17]:
# Seleccionar las columnas de interés
selected_columns_df_clean_fp2Sty = df_clean_fp2Sty[['Cla', 'Piloto', '#', 'Chasis','Motor','Vueltas','Tiempo' , 'Intervalo']]
print(selected_columns_df_clean_fp2Sty.head())

1 Cla                          Piloto   #        Chasis     Motor Vueltas  \
0   1  M. Verstappen  Red Bull Racing  33      Red Bull     Honda      27
1   2             V. Bottas  Mercedes  77      Mercedes  Mercedes      36
2   3         S. PÃ©rez  Racing Point  11  Racing Point  Mercedes      43
3   4         L. Stroll  Racing Point  18  Racing Point  Mercedes      43
4   5            C. Sainz  McLaren F1  55       McLaren   Renault      45

1           Tiempo Intervalo
0         1'03.660       NaN
1  +0.043 1'03.703     0.043
2  +0.217 1'03.877     0.174
3  +0.581 1'04.241     0.364
4  +0.673 1'04.333     0.092

# Rename Data Frame
stiria GP FP2

In [25]:
selected_columns_df_clean_fp2Sty = selected_columns_df_clean_fp2Sty.copy()
selected_columns_df_clean_fp2Sty.rename(
    columns={col: f"{col}_fp2" for col in selected_columns_df_clean_fp2Sty.columns if col not in excluir},
    inplace=True
)

In [26]:
print(selected_columns_df_clean_fp2Sty.head())

1 Cla_fp2                          Piloto   #        Chasis     Motor  \
0       1  M. Verstappen  Red Bull Racing  33      Red Bull     Honda
1       2             V. Bottas  Mercedes  77      Mercedes  Mercedes
2       3         S. PÃ©rez  Racing Point  11  Racing Point  Mercedes
3       4         L. Stroll  Racing Point  18  Racing Point  Mercedes
4       5            C. Sainz  McLaren F1  55       McLaren   Renault

1 Vueltas_fp2       Tiempo_fp2 Intervalo_fp2
0          27         1'03.660           NaN
1          36  +0.043 1'03.703         0.043
2          43  +0.217 1'03.877         0.174
3          43  +0.581 1'04.241         0.364
4          45  +0.673 1'04.333         0.092

# Read Data Frame
FP3 Stiria GP

**Note: for covid the FP3 don't race...in this case the fp2 is the same fp3 for manage the dataframe**

In [20]:
selected_columns_df_clean_fp3Sty = selected_columns_df_clean_fp2Sty.copy()
selected_columns_df_clean_fp3Sty.rename(
    columns={col: f"{col}_fp3" for col in selected_columns_df_clean_fp3Sty.columns if col not in excluir},
    inplace=True
)

In [24]:
print(selected_columns_df_clean_fp3Sty.head())

1 Cla_fp3                          Piloto   #        Chasis     Motor  \
0       1  M. Verstappen  Red Bull Racing  33      Red Bull     Honda
1       2             V. Bottas  Mercedes  77      Mercedes  Mercedes
2       3         S. PÃ©rez  Racing Point  11  Racing Point  Mercedes
3       4         L. Stroll  Racing Point  18  Racing Point  Mercedes
4       5            C. Sainz  McLaren F1  55       McLaren   Renault

1 Vueltas_fp3       Tiempo_fp3 Intervalo_fp3
0          27         1'03.660           NaN
1          36  +0.043 1'03.703         0.043
2          43  +0.217 1'03.877         0.174
3          43  +0.581 1'04.241         0.364
4          45  +0.673 1'04.333         0.092

# Read Data Frame
Grid Stiria GP

In [27]:
# Leer sin encabezado
df_raw = pd.read_csv('/content/Grid_resultados_2020_sty.csv', header=None)

# Asignar la fila 1 como nombres de columna
df_clean_GridSty = df_raw.copy()
df_clean_GridSty.columns = df_clean_GridSty.iloc[1]  # Fila 1 como encabezado

# Eliminar las filas 0 y 1 (encabezado y basura previa)
df_clean_GridSty = df_clean_GridSty.iloc[2:]

# Reiniciar el índice
df_clean_GridSty.reset_index(drop=True, inplace=True)

# Mostrar el resultado
print(df_clean_GridSty.head())

1 Cla                          Piloto   # Unnamed: 3_level_1    Chasis  \
0   1           L. Hamilton  Mercedes  44                NaN  Mercedes
1   2  M. Verstappen  Red Bull Racing  33                NaN  Red Bull
2   3            C. Sainz  McLaren F1  55                NaN   McLaren
3   4             V. Bottas  Mercedes  77                NaN  Mercedes
4   5        E. Ocon  Renault F1 Team  31                NaN   Renault

1     Motor           Tiempo NeumÃ¡ticos     Km/h Unnamed: 9_level_1  ...  \
0  Mercedes         1'19.273         NaN  196.091                NaN  ...
1     Honda  +1.216 1'20.489         NaN  193.129                NaN  ...
2   Renault  +1.398 1'20.671         NaN  192.693                NaN  ...
3  Mercedes  +1.428 1'20.701         NaN  192.622                NaN  ...
4   Renault  +1.649 1'20.922         NaN  192.096                NaN  ...

1 Unnamed: 90_level_1 Unnamed: 91_level_1 Unnamed: 92_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 93_level_1 Unnamed: 94_level_1 Unnamed: 95_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 96_level_1 Unnamed: 97_level_1 Unnamed: 98_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 99_level_1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 100 columns]

# Select Rows
Grid Stiria GP

In [32]:
# Seleccionar las columnas de interés
selected_columns_df_clean_GridSty = df_clean_GridSty[['Cla', 'Piloto', '#', 'Chasis','Motor','Tiempo']]
print(selected_columns_df_clean_GridSty.head())

1 Cla                          Piloto   #    Chasis     Motor           Tiempo
0   1           L. Hamilton  Mercedes  44  Mercedes  Mercedes         1'19.273
1   2  M. Verstappen  Red Bull Racing  33  Red Bull     Honda  +1.216 1'20.489
2   3            C. Sainz  McLaren F1  55   McLaren   Renault  +1.398 1'20.671
3   4             V. Bottas  Mercedes  77  Mercedes  Mercedes  +1.428 1'20.701
4   5        E. Ocon  Renault F1 Team  31   Renault   Renault  +1.649 1'20.922

# Rename Data Frame
Grid Stiria GP

In [36]:
selected_columns_df_clean_GridSty = df_clean_GridSty[['Cla', 'Piloto', '#', 'Chasis','Motor','Tiempo']].copy()

excluir = ["Piloto", "#", "Chasis", "Motor"]

selected_columns_df_clean_GridSty.rename(
    columns={col: f"{col}_Grid" for col in selected_columns_df_clean_GridSty.columns if col not in excluir},
    inplace=True
)

In [37]:
print(selected_columns_df_clean_GridSty.head())

1 Cla_Grid                          Piloto   #    Chasis     Motor  \
0        1           L. Hamilton  Mercedes  44  Mercedes  Mercedes
1        2  M. Verstappen  Red Bull Racing  33  Red Bull     Honda
2        3            C. Sainz  McLaren F1  55   McLaren   Renault
3        4             V. Bottas  Mercedes  77  Mercedes  Mercedes
4        5        E. Ocon  Renault F1 Team  31   Renault   Renault

1      Tiempo_Grid
0         1'19.273
1  +1.216 1'20.489
2  +1.398 1'20.671
3  +1.428 1'20.701
4  +1.649 1'20.922

# Read data Frame
Stiria Race Result

In [49]:
# Leer sin encabezado
# Leer sin encabezado
df_Result_StyGP = pd.read_csv('/content/Race_resultados_2020_sty.csv', header=None)

# Asignar la fila 1 como nombres de columna
df_clean_RaceSty = df_Result_StyGP.copy()
df_clean_RaceSty.columns = df_clean_RaceSty.iloc[1]  # Fila 1 como encabezado

# Eliminar las filas 0 y 1 (encabezado y basura previa)
df_clean_RaceSty = df_clean_RaceSty.iloc[2:]

# Reiniciar el índice
df_clean_RaceSty.reset_index(drop=True, inplace=True)

# Mostrar el resultado
print(df_clean_RaceSty.head())

1 Cla                          Piloto   # Unnamed: 3_level_1 Vueltas  \
0   1           L. Hamilton  Mercedes  44                NaN      71
1   2             V. Bottas  Mercedes  77                NaN      71
2   3  M. Verstappen  Red Bull Racing  33                NaN      71
3   4       A. Albon  Red Bull Racing  23                NaN      71
4   5           L. Norris  McLaren F1   4                NaN      71

1                 Tiempo Intervalo     Km/h Boxes Puntos  ...  \
0            1:22'50.683       NaN  221.946     1   25.0  ...
1    +13.719 1:23'04.402    13.719  221.335     1   18.0  ...
2    +33.698 1:23'24.381    19.979  220.452     2   15.0  ...
3    +44.400 1:23'35.083    10.702  219.981     1   12.0  ...
4  +1'01.470 1:23'52.153    17.070  219.235     1   10.0  ...

1 Unnamed: 90_level_1 Unnamed: 91_level_1 Unnamed: 92_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 93_level_1 Unnamed: 94_level_1 Unnamed: 95_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 96_level_1 Unnamed: 97_level_1 Unnamed: 98_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 99_level_1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 100 columns]

# select Rows
Race Results Stiria GP

In [50]:
# Seleccionar las columnas de interés
selected_columns_df_clean_RaceSty = df_clean_RaceSty[[ 'Piloto','Vueltas', 'Tiempo', 'Intervalo' ,'Km/h', 'Boxes', 'Puntos', 'Abandono']]
print(selected_columns_df_clean_RaceSty.head())

1                          Piloto Vueltas                 Tiempo Intervalo  \
0           L. Hamilton  Mercedes      71            1:22'50.683       NaN
1             V. Bottas  Mercedes      71    +13.719 1:23'04.402    13.719
2  M. Verstappen  Red Bull Racing      71    +33.698 1:23'24.381    19.979
3       A. Albon  Red Bull Racing      71    +44.400 1:23'35.083    10.702
4           L. Norris  McLaren F1      71  +1'01.470 1:23'52.153    17.070

1     Km/h Boxes Puntos Abandono
0  221.946     1   25.0      NaN
1  221.335     1   18.0      NaN
2  220.452     2   15.0      NaN
3  219.981     1   12.0      NaN
4  219.235     1   10.0      NaN

# Rename rows
Race Results Stiria GP

In [56]:
selected_columns_df_clean_RaceSty = df_clean_RaceSty[['Cla', 'Piloto', '#', 'Chasis','Motor','Vueltas','Tiempo' , 'Intervalo']].copy()

excluir = ["Piloto", "#", "Chasis", "Motor"]

selected_columns_df_clean_RaceSty.rename(
    columns={col: f"{col}_Race" for col in selected_columns_df_clean_RaceSty.columns if col not in excluir},
    inplace=True
)

In [57]:
print(selected_columns_df_clean_RaceSty.head())

1 Cla_Race                          Piloto   #    Chasis     Motor  \
0        1           L. Hamilton  Mercedes  44  Mercedes  Mercedes
1        2             V. Bottas  Mercedes  77  Mercedes  Mercedes
2        3  M. Verstappen  Red Bull Racing  33  Red Bull     Honda
3        4       A. Albon  Red Bull Racing  23  Red Bull     Honda
4        5           L. Norris  McLaren F1   4   McLaren   Renault

1 Vueltas_Race            Tiempo_Race Intervalo_Race
0           71            1:22'50.683            NaN
1           71    +13.719 1:23'04.402         13.719
2           71    +33.698 1:23'24.381         19.979
3           71    +44.400 1:23'35.083         10.702
4           71  +1'01.470 1:23'52.153         17.070

# Merged Data Frame
Ussing functools

In [59]:
def rename_session_columns(df, session, exclude=["Piloto", "#", "Chasis", "Motor"]):
    return df.rename(columns={col: f"{col}_{session}" for col in df.columns if col not in exclude})

In [60]:
dfs = [
    rename_session_columns(selected_columns_df_clean_fp1Sty, "fp1"),
    rename_session_columns(selected_columns_df_clean_fp2Sty, "fp2"),
    rename_session_columns(selected_columns_df_clean_fp3Sty, "fp3"),
    rename_session_columns(selected_columns_df_clean_GridSty, "grid"),
    rename_session_columns(selected_columns_df_clean_RaceSty, "race")
]

In [62]:
for i, df in enumerate(dfs):
    print(f"DF {i} columns:", df.columns.tolist())

DF 0 columns: ['Cla_fp1_fp1', 'Piloto', '#', 'Chasis', 'Motor', 'Vueltas_fp1_fp1', 'Tiempo_fp1_fp1', 'Intervalo_fp1_fp1']
DF 1 columns: ['Cla_fp2_fp2', 'Piloto', '#', 'Chasis', 'Motor', 'Vueltas_fp2_fp2', 'Tiempo_fp2_fp2', 'Intervalo_fp2_fp2']
DF 2 columns: ['Cla_fp3_fp3', 'Piloto', '#', 'Chasis', 'Motor', 'Vueltas_fp3_fp3', 'Tiempo_fp3_fp3', 'Intervalo_fp3_fp3']
DF 3 columns: ['Cla_Grid_grid', 'Piloto', '#', 'Chasis', 'Motor', 'Tiempo_Grid_grid']
DF 4 columns: ['Cla_Race_race', 'Piloto', '#', 'Chasis', 'Motor', 'Vueltas_Race_race', 'Tiempo_Race_race', 'Intervalo_Race_race']

In [63]:
cols_comunes = ["#", "Chasis", "Motor"]

In [64]:
dfs_clean = [dfs[0]] + [df.drop(columns=cols_comunes) for df in dfs[1:]]

In [65]:
from functools import reduce

df_merged = reduce(lambda left, right: pd.merge(left, right, on="Piloto", how="outer"), dfs_clean)

In [66]:
print(df_merged.head())

1 Cla_fp1_fp1                     Piloto    #      Chasis    Motor  \
0           6  A. Albon  Red Bull Racing   23    Red Bull    Honda
1         NaN  A. Giovinazzi  Alfa Romeo  NaN         NaN      NaN
2          12        C. Leclerc  Ferrari   16     Ferrari  Ferrari
3           7       C. Sainz  McLaren F1   55     McLaren  Renault
4          11     D. Kvyat  Racing Bulls   26  AlphaTauri    Honda

1 Vueltas_fp1_fp1   Tiempo_fp1_fp1 Intervalo_fp1_fp1 Cla_fp2_fp2  \
0              28  +0.616 1'05.483             0.087           7
1             NaN              NaN               NaN          14
2              28  +0.970 1'05.837             0.022           9
3              40  +0.735 1'05.602             0.119           5
4              28  +0.948 1'05.815             0.045          12

1 Vueltas_fp2_fp2  ... Cla_fp3_fp3 Vueltas_fp3_fp3   Tiempo_fp3_fp3  \
0              29  ...           7              29  +0.777 1'04.437
1              36  ...          14              36  +1.705 1'05.365
2              35  ...           9              35  +1.046 1'04.706
3              45  ...           5              45  +0.673 1'04.333
4              34  ...          12              34  +1.390 1'05.050

1 Intervalo_fp3_fp3 Cla_Grid_grid Tiempo_Grid_grid Cla_Race_race  \
0             0.089             6  +1.738 1'21.011             4
1             0.213            19  +2.558 1'21.831            14
2             0.165            14  +0.355 1'19.628           dnf
3             0.092             3  +1.398 1'20.671             9
4             0.293            13  +0.444 1'19.717            10

1 Vueltas_Race_race     Tiempo_Race_race Intervalo_Race_race
0                71  +44.400 1:23'35.083              10.702
1                70   +1 Lap 1:23'34.373               4.755
2                 4    +67 Laps 6'57.102             21 Laps
3                70   +1 Lap 1:23'09.726               1 Lap
4                70   +1 Lap 1:23'20.934              11.208

[5 rows x 22 columns]

# Download data Frame

In [67]:
df_merged.to_csv("STY_GP_2020.csv", index=False)