# Creating a DataSet
Notes:
- Beautiful Soup no working
- Let's try with pandas url

# Import Libraries

In [ ]:
import numpy as np
import pandas as pd
from io import StringIO
import requests

# First Steps
Extract the data

In [ ]:
# FP1 aus Gp
url = "https://es.motorsport.com/f1/results/2020/gp-de-austria-451900/?st=FP1"
tables = pd.read_html(url)

df = tables[0]  # Selecciona la primera tabla
df.to_csv("fp1_resultados_2020_aus.csv", index=False)

In [ ]:
# FP2 aus Gp
url = "https://es.motorsport.com/f1/results/2020/gp-de-austria-451900/?st=FP2"
tables = pd.read_html(url)

df = tables[0]  # Selecciona la primera tabla
df.to_csv("fp2_resultaods_2020_aus.csv", index=False)

In [ ]:
# FP3 aus Gp
url = "https://es.motorsport.com/f1/results/2020/gp-de-austria-451900/?st=FP3"
tables = pd.read_html(url)

df = tables[0]  # Selecciona la primera tabla
df.to_csv("fp3_resultaods_2020_aus.csv", index=False)

In [ ]:
# Grid aus gp
url = "https://es.motorsport.com/f1/results/2020/gp-de-austria-451900/?st=GRID"
tables = pd.read_html(url)

df = tables[0]  # Selecciona la primera tabla
df.to_csv("Grid_resultaods_2020_aus.csv", index=False)

In [ ]:
# Race aus gp
url = "https://es.motorsport.com/f1/results/2020/gp-de-austria-451900/?st=RACE"
tables = pd.read_html(url)

df = tables[0]  # Selecciona la primera tabla
df.to_csv("Race_resultaods_2020_aus.csv", index=False)

In [ ]:
# Leer sin encabezado
df = pd.read_csv('/content/fp1_resultados_2020_aus.csv', header=None)

# Asignar la fila 1 como nombres de columna
df_clean_fp1aus = df_raw.copy()
df_clean_fp1aus.columns = df_clean_fp1aus.iloc[1]  # Fila 1 como encabezado

# Eliminar las filas 0 y 1 (encabezado y basura previa)
df_clean_fp1aus = df_clean_fp1aus.iloc[2:]

# Reiniciar el índice
df_clean_fp1aus.reset_index(drop=True, inplace=True)

# Mostrar el resultado
print(df_clean_fp1aus.head())

1 Cla                         Piloto   # Unnamed: 3_level_1        Chasis  \
0   1          L. Hamilton  Mercedes  44                NaN      Mercedes
1   2            V. Bottas  Mercedes  77                NaN      Mercedes
2   3        S. PÃ©rez  Racing Point  11                NaN  Racing Point
3   4             S. Vettel  Ferrari   5                NaN       Ferrari
4   5  D. Ricciardo  Renault F1 Team   3                NaN       Renault

1     Motor Vueltas           Tiempo Intervalo NeumÃ¡ticos  ...  \
0  Mercedes      42         1'04.304       NaN         NaN  ...
1  Mercedes      37  +0.197 1'04.501     0.197         NaN  ...
2  Mercedes      48  +0.641 1'04.945     0.444         NaN  ...
3   Ferrari      48  +0.657 1'04.961     0.016         NaN  ...
4   Renault      36  +0.668 1'04.972     0.011         NaN  ...

1 Unnamed: 90_level_1 Unnamed: 91_level_1 Unnamed: 92_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 93_level_1 Unnamed: 94_level_1 Unnamed: 95_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 96_level_1 Unnamed: 97_level_1 Unnamed: 98_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 99_level_1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 100 columns]

# Selected columns

In [ ]:
# Seleccionar las columnas de interés
selected_columns_df_clean_fp1aus = df_clean_fp1aus[['Cla', 'Piloto', '#', 'Chasis','Motor','Vueltas','Tiempo' , 'Intervalo']]
print(selected_columns_df_clean_fp1aus.head())

1 Cla                         Piloto   #        Chasis     Motor Vueltas  \
0   1          L. Hamilton  Mercedes  44      Mercedes  Mercedes      42
1   2            V. Bottas  Mercedes  77      Mercedes  Mercedes      37
2   3        S. PÃ©rez  Racing Point  11  Racing Point  Mercedes      48
3   4             S. Vettel  Ferrari   5       Ferrari   Ferrari      48
4   5  D. Ricciardo  Renault F1 Team   3       Renault   Renault      36

1           Tiempo Intervalo
0         1'04.304       NaN
1  +0.197 1'04.501     0.197
2  +0.641 1'04.945     0.444
3  +0.657 1'04.961     0.016
4  +0.668 1'04.972     0.011

# Rename the columns
for preparing the merge method

In [ ]:
selected_columns_df_clean_fp1aus = df_clean_fp1aus[['Cla', 'Piloto', '#', 'Chasis','Motor','Vueltas','Tiempo' , 'Intervalo']].copy()

excluir = ["Piloto", "#", "Chasis", "Motor"]

selected_columns_df_clean_fp1aus.rename(
    columns={col: f"{col}_fp1" for col in selected_columns_df_clean_fp1aus.columns if col not in excluir},
    inplace=True
)

In [ ]:
print(selected_columns_df_clean_fp1aus.head())

1 Cla_fp1                         Piloto   #        Chasis     Motor  \
0       1          L. Hamilton  Mercedes  44      Mercedes  Mercedes
1       2            V. Bottas  Mercedes  77      Mercedes  Mercedes
2       3        S. PÃ©rez  Racing Point  11  Racing Point  Mercedes
3       4             S. Vettel  Ferrari   5       Ferrari   Ferrari
4       5  D. Ricciardo  Renault F1 Team   3       Renault   Renault

1 Vueltas_fp1       Tiempo_fp1 Intervalo_fp1
0          42         1'04.304           NaN
1          37  +0.197 1'04.501         0.197
2          48  +0.641 1'04.945         0.444
3          48  +0.657 1'04.961         0.016
4          36  +0.668 1'04.972         0.011

In [ ]:
# Leer sin encabezado
df_fp2_ausGP = pd.read_csv('/content/fp2_resultaods_2020_aus.csv', header=None)

# Asignar la fila 1 como nombres de columna
df_clean_fp2aus = df_fp2_ausGP.copy()
df_clean_fp2aus.columns = df_clean_fp2aus.iloc[1]  # Fila 1 como encabezado

# Eliminar las filas 0 y 1 (encabezado y basura previa)
df_clean_fp2aus = df_clean_fp2aus.iloc[2:]

# Reiniciar el índice
df_clean_fp2aus.reset_index(drop=True, inplace=True)

# Mostrar el resultado
print(df_clean_fp2aus.head())

1 Cla                         Piloto   # Unnamed: 3_level_1        Chasis  \
0   1          L. Hamilton  Mercedes  44                NaN      Mercedes
1   2            V. Bottas  Mercedes  77                NaN      Mercedes
2   3        S. PÃ©rez  Racing Point  11                NaN  Racing Point
3   4             S. Vettel  Ferrari   5                NaN       Ferrari
4   5  D. Ricciardo  Renault F1 Team   3                NaN       Renault

1     Motor Vueltas           Tiempo Intervalo NeumÃ¡ticos  ...  \
0  Mercedes      42         1'04.304       NaN         NaN  ...
1  Mercedes      37  +0.197 1'04.501     0.197         NaN  ...
2  Mercedes      48  +0.641 1'04.945     0.444         NaN  ...
3   Ferrari      48  +0.657 1'04.961     0.016         NaN  ...
4   Renault      36  +0.668 1'04.972     0.011         NaN  ...

1 Unnamed: 90_level_1 Unnamed: 91_level_1 Unnamed: 92_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 93_level_1 Unnamed: 94_level_1 Unnamed: 95_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 96_level_1 Unnamed: 97_level_1 Unnamed: 98_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 99_level_1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 100 columns]

In [ ]:
# Seleccionar las columnas de interés
selected_columns_df_clean_fp2aus = df_clean_fp2aus[['Cla', 'Piloto', '#', 'Chasis','Motor','Vueltas','Tiempo' , 'Intervalo']]
print(selected_columns_df_clean_fp2aus.head())

1 Cla                         Piloto   #        Chasis     Motor Vueltas  \
0   1          L. Hamilton  Mercedes  44      Mercedes  Mercedes      42
1   2            V. Bottas  Mercedes  77      Mercedes  Mercedes      37
2   3        S. PÃ©rez  Racing Point  11  Racing Point  Mercedes      48
3   4             S. Vettel  Ferrari   5       Ferrari   Ferrari      48
4   5  D. Ricciardo  Renault F1 Team   3       Renault   Renault      36

1           Tiempo Intervalo
0         1'04.304       NaN
1  +0.197 1'04.501     0.197
2  +0.641 1'04.945     0.444
3  +0.657 1'04.961     0.016
4  +0.668 1'04.972     0.011

In [ ]:
selected_columns_df_clean_fp2aus = df_clean_fp2aus[['Cla', 'Piloto', '#', 'Chasis','Motor','Vueltas','Tiempo' , 'Intervalo']].copy()

excluir = ["Piloto", "#", "Chasis", "Motor"]

selected_columns_df_clean_fp2aus.rename(
    columns={col: f"{col}_fp2" for col in selected_columns_df_clean_fp2aus.columns if col not in excluir},
    inplace=True
)

In [ ]:
print(selected_columns_df_clean_fp2aus.head())

1 Cla_fp2                         Piloto   #        Chasis     Motor  \
0       1          L. Hamilton  Mercedes  44      Mercedes  Mercedes
1       2            V. Bottas  Mercedes  77      Mercedes  Mercedes
2       3        S. PÃ©rez  Racing Point  11  Racing Point  Mercedes
3       4             S. Vettel  Ferrari   5       Ferrari   Ferrari
4       5  D. Ricciardo  Renault F1 Team   3       Renault   Renault

1 Vueltas_fp2       Tiempo_fp2 Intervalo_fp2
0          42         1'04.304           NaN
1          37  +0.197 1'04.501         0.197
2          48  +0.641 1'04.945         0.444
3          48  +0.657 1'04.961         0.016
4          36  +0.668 1'04.972         0.011

In [ ]:
# Leer sin encabezado
df_fp3_ausGP = pd.read_csv('/content/fp3_resultaods_2020_aus.csv', header=None)

# Asignar la fila 1 como nombres de columna
df_clean_fp3aus = df_fp3_ausGP.copy()
df_clean_fp3aus.columns = df_clean_fp3aus.iloc[1]  # Fila 1 como encabezado

# Eliminar las filas 0 y 1 (encabezado y basura previa)
df_clean_fp3aus = df_clean_fp3aus.iloc[2:]

# Reiniciar el índice
df_clean_fp3aus.reset_index(drop=True, inplace=True)

# Mostrar el resultado
print(df_clean_fp3aus.head())

1 Cla                          Piloto   # Unnamed: 3_level_1        Chasis  \
0   1           L. Hamilton  Mercedes  44                NaN      Mercedes
1   2             V. Bottas  Mercedes  77                NaN      Mercedes
2   3  M. Verstappen  Red Bull Racing  33                NaN      Red Bull
3   4         S. PÃ©rez  Racing Point  11                NaN  Racing Point
4   5             C. Leclerc  Ferrari  16                NaN       Ferrari

1     Motor Vueltas           Tiempo Intervalo NeumÃ¡ticos  ...  \
0  Mercedes      21         1'04.130       NaN         NaN  ...
1  Mercedes      22  +0.147 1'04.277     0.147         NaN  ...
2     Honda      20  +0.283 1'04.413     0.136         NaN  ...
3  Mercedes      19  +0.475 1'04.605     0.192         NaN  ...
4   Ferrari      19  +0.573 1'04.703     0.098         NaN  ...

1 Unnamed: 90_level_1 Unnamed: 91_level_1 Unnamed: 92_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 93_level_1 Unnamed: 94_level_1 Unnamed: 95_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 96_level_1 Unnamed: 97_level_1 Unnamed: 98_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 99_level_1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 100 columns]

In [ ]:
print(df_clean_fp3aus.columns.tolist())

['Cla_FP3', 'Piloto', '#_FP3', 'Unnamed: 3_level_1_FP3', 'Chasis_FP3', 'Motor_FP3', 'Vueltas_FP3', 'Tiempo_FP3', 'Intervalo_FP3', 'NeumÃ¡ticos_FP3', 'Km/h_FP3', 'Unnamed: 11_level_1_FP3', 'Unnamed: 12_level_1_FP3', 'Unnamed: 13_level_1_FP3', 'Unnamed: 14_level_1_FP3', 'Unnamed: 15_level_1_FP3', 'Unnamed: 16_level_1_FP3', 'Unnamed: 17_level_1_FP3', 'Unnamed: 18_level_1_FP3', 'Unnamed: 19_level_1_FP3', 'Unnamed: 20_level_1_FP3', 'Unnamed: 21_level_1_FP3', 'Unnamed: 22_level_1_FP3', 'Unnamed: 23_level_1_FP3', 'Unnamed: 24_level_1_FP3', 'Unnamed: 25_level_1_FP3', 'Unnamed: 26_level_1_FP3', 'Unnamed: 27_level_1_FP3', 'Unnamed: 28_level_1_FP3', 'Unnamed: 29_level_1_FP3', 'Unnamed: 30_level_1_FP3', 'Unnamed: 31_level_1_FP3', 'Unnamed: 32_level_1_FP3', 'Unnamed: 33_level_1_FP3', 'Unnamed: 34_level_1_FP3', 'Unnamed: 35_level_1_FP3', 'Unnamed: 36_level_1_FP3', 'Unnamed: 37_level_1_FP3', 'Unnamed: 38_level_1_FP3', 'Unnamed: 39_level_1_FP3', 'Unnamed: 40_level_1_FP3', 'Unnamed: 41_level_1_FP3', 'Unnamed: 42_level_1_FP3', 'Unnamed: 43_level_1_FP3', 'Unnamed: 44_level_1_FP3', 'Unnamed: 45_level_1_FP3', 'Unnamed: 46_level_1_FP3', 'Unnamed: 47_level_1_FP3', 'Unnamed: 48_level_1_FP3', 'Unnamed: 49_level_1_FP3', 'Unnamed: 50_level_1_FP3', 'Unnamed: 51_level_1_FP3', 'Unnamed: 52_level_1_FP3', 'Unnamed: 53_level_1_FP3', 'Unnamed: 54_level_1_FP3', 'Unnamed: 55_level_1_FP3', 'Unnamed: 56_level_1_FP3', 'Unnamed: 57_level_1_FP3', 'Unnamed: 58_level_1_FP3', 'Unnamed: 59_level_1_FP3', 'Unnamed: 60_level_1_FP3', 'Unnamed: 61_level_1_FP3', 'Unnamed: 62_level_1_FP3', 'Unnamed: 63_level_1_FP3', 'Unnamed: 64_level_1_FP3', 'Unnamed: 65_level_1_FP3', 'Unnamed: 66_level_1_FP3', 'Unnamed: 67_level_1_FP3', 'Unnamed: 68_level_1_FP3', 'Unnamed: 69_level_1_FP3', 'Unnamed: 70_level_1_FP3', 'Unnamed: 71_level_1_FP3', 'Unnamed: 72_level_1_FP3', 'Unnamed: 73_level_1_FP3', 'Unnamed: 74_level_1_FP3', 'Unnamed: 75_level_1_FP3', 'Unnamed: 76_level_1_FP3', 'Unnamed: 77_level_1_FP3', 'Unnamed: 78_level_1_FP3', 'Unnamed: 79_level_1_FP3', 'Unnamed: 80_level_1_FP3', 'Unnamed: 81_level_1_FP3', 'Unnamed: 82_level_1_FP3', 'Unnamed: 83_level_1_FP3', 'Unnamed: 84_level_1_FP3', 'Unnamed: 85_level_1_FP3', 'Unnamed: 86_level_1_FP3', 'Unnamed: 87_level_1_FP3', 'Unnamed: 88_level_1_FP3', 'Unnamed: 89_level_1_FP3', 'Unnamed: 90_level_1_FP3', 'Unnamed: 91_level_1_FP3', 'Unnamed: 92_level_1_FP3', 'Unnamed: 93_level_1_FP3', 'Unnamed: 94_level_1_FP3', 'Unnamed: 95_level_1_FP3', 'Unnamed: 96_level_1_FP3', 'Unnamed: 97_level_1_FP3', 'Unnamed: 98_level_1_FP3', 'Unnamed: 99_level_1_FP3']

In [ ]:
# Seleccionar las columnas de interés
selected_columns_df_clean_fp3aus = df_clean_fp3aus[['Cla_FP3', 'Piloto', 'Vueltas_FP3', 'Tiempo_FP3' , 'Intervalo_FP3', 'Km/h_FP3']]
print(selected_columns_df_clean_fp3aus.head())

1                          Piloto Vueltas_FP3       Tiempo_FP3 Intervalo_FP3  \
0           L. Hamilton  Mercedes          21         1'04.130           NaN
1             V. Bottas  Mercedes          22  +0.147 1'04.277         0.147
2  M. Verstappen  Red Bull Racing          20  +0.283 1'04.413         0.136
3         S. PÃ©rez  Racing Point          19  +0.475 1'04.605         0.192
4             C. Leclerc  Ferrari          19  +0.573 1'04.703         0.098

1 Km/h_FP3
0  242.395
1   241.84
2   241.33
3  240.612
4  240.248

In [ ]:
# Leer sin encabezado
df_Grid_ausGP = pd.read_csv('/content/Grid_resultaods_2020_aus.csv', header=None)

# Asignar la fila 1 como nombres de columna
df_clean_Gridaus = df_Grid_ausGP.copy()
df_clean_Gridaus.columns = df_clean_Gridaus.iloc[1]  # Fila 1 como encabezado

# Eliminar las filas 0 y 1 (encabezado y basura previa)
df_clean_Gridaus = df_clean_Gridaus.iloc[2:]

# Reiniciar el índice
df_clean_Gridaus.reset_index(drop=True, inplace=True)

# Mostrar el resultado
print(df_clean_Gridaus.head())

1 Cla                          Piloto   # Unnamed: 3_level_1    Chasis  \
0   1             V. Bottas  Mercedes  77                NaN  Mercedes
1   2  M. Verstappen  Red Bull Racing  33                NaN  Red Bull
2   3           L. Norris  McLaren F1   4                NaN   McLaren
3   4       A. Albon  Red Bull Racing  23                NaN  Red Bull
4   5           L. Hamilton  Mercedes  44                NaN  Mercedes

1     Motor           Tiempo NeumÃ¡ticos     Km/h Unnamed: 9_level_1  ...  \
0  Mercedes         1'02.939         NaN  246.981                NaN  ...
1     Honda  +0.538 1'03.477         NaN  244.888                NaN  ...
2   Renault  +0.687 1'03.626         NaN  244.315                NaN  ...
3     Honda  +0.929 1'03.868         NaN  243.389                NaN  ...
4  Mercedes  +0.012 1'02.951         NaN  246.934                NaN  ...

1 Unnamed: 90_level_1 Unnamed: 91_level_1 Unnamed: 92_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 93_level_1 Unnamed: 94_level_1 Unnamed: 95_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 96_level_1 Unnamed: 97_level_1 Unnamed: 98_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 99_level_1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 100 columns]

In [ ]:
print(df_clean_Gridaus.columns.tolist())

['Cla_Grid', 'Piloto', '#_Grid', 'Unnamed: 3_level_1_Grid', 'Chasis_Grid', 'Motor_Grid', 'Tiempo_Grid', 'NeumÃ¡ticos_Grid', 'Km/h_Grid', 'Unnamed: 9_level_1_Grid', 'Unnamed: 10_level_1_Grid', 'Unnamed: 11_level_1_Grid', 'Unnamed: 12_level_1_Grid', 'Unnamed: 13_level_1_Grid', 'Unnamed: 14_level_1_Grid', 'Unnamed: 15_level_1_Grid', 'Unnamed: 16_level_1_Grid', 'Unnamed: 17_level_1_Grid', 'Unnamed: 18_level_1_Grid', 'Unnamed: 19_level_1_Grid', 'Unnamed: 20_level_1_Grid', 'Unnamed: 21_level_1_Grid', 'Unnamed: 22_level_1_Grid', 'Unnamed: 23_level_1_Grid', 'Unnamed: 24_level_1_Grid', 'Unnamed: 25_level_1_Grid', 'Unnamed: 26_level_1_Grid', 'Unnamed: 27_level_1_Grid', 'Unnamed: 28_level_1_Grid', 'Unnamed: 29_level_1_Grid', 'Unnamed: 30_level_1_Grid', 'Unnamed: 31_level_1_Grid', 'Unnamed: 32_level_1_Grid', 'Unnamed: 33_level_1_Grid', 'Unnamed: 34_level_1_Grid', 'Unnamed: 35_level_1_Grid', 'Unnamed: 36_level_1_Grid', 'Unnamed: 37_level_1_Grid', 'Unnamed: 38_level_1_Grid', 'Unnamed: 39_level_1_Grid', 'Unnamed: 40_level_1_Grid', 'Unnamed: 41_level_1_Grid', 'Unnamed: 42_level_1_Grid', 'Unnamed: 43_level_1_Grid', 'Unnamed: 44_level_1_Grid', 'Unnamed: 45_level_1_Grid', 'Unnamed: 46_level_1_Grid', 'Unnamed: 47_level_1_Grid', 'Unnamed: 48_level_1_Grid', 'Unnamed: 49_level_1_Grid', 'Unnamed: 50_level_1_Grid', 'Unnamed: 51_level_1_Grid', 'Unnamed: 52_level_1_Grid', 'Unnamed: 53_level_1_Grid', 'Unnamed: 54_level_1_Grid', 'Unnamed: 55_level_1_Grid', 'Unnamed: 56_level_1_Grid', 'Unnamed: 57_level_1_Grid', 'Unnamed: 58_level_1_Grid', 'Unnamed: 59_level_1_Grid', 'Unnamed: 60_level_1_Grid', 'Unnamed: 61_level_1_Grid', 'Unnamed: 62_level_1_Grid', 'Unnamed: 63_level_1_Grid', 'Unnamed: 64_level_1_Grid', 'Unnamed: 65_level_1_Grid', 'Unnamed: 66_level_1_Grid', 'Unnamed: 67_level_1_Grid', 'Unnamed: 68_level_1_Grid', 'Unnamed: 69_level_1_Grid', 'Unnamed: 70_level_1_Grid', 'Unnamed: 71_level_1_Grid', 'Unnamed: 72_level_1_Grid', 'Unnamed: 73_level_1_Grid', 'Unnamed: 74_level_1_Grid', 'Unnamed: 75_level_1_Grid', 'Unnamed: 76_level_1_Grid', 'Unnamed: 77_level_1_Grid', 'Unnamed: 78_level_1_Grid', 'Unnamed: 79_level_1_Grid', 'Unnamed: 80_level_1_Grid', 'Unnamed: 81_level_1_Grid', 'Unnamed: 82_level_1_Grid', 'Unnamed: 83_level_1_Grid', 'Unnamed: 84_level_1_Grid', 'Unnamed: 85_level_1_Grid', 'Unnamed: 86_level_1_Grid', 'Unnamed: 87_level_1_Grid', 'Unnamed: 88_level_1_Grid', 'Unnamed: 89_level_1_Grid', 'Unnamed: 90_level_1_Grid', 'Unnamed: 91_level_1_Grid', 'Unnamed: 92_level_1_Grid', 'Unnamed: 93_level_1_Grid', 'Unnamed: 94_level_1_Grid', 'Unnamed: 95_level_1_Grid', 'Unnamed: 96_level_1_Grid', 'Unnamed: 97_level_1_Grid', 'Unnamed: 98_level_1_Grid', 'Unnamed: 99_level_1_Grid']

In [ ]:
# Seleccionar las columnas de interés
selected_columns_df_clean_Gridaus = df_clean_Gridaus[['Cla_Grid', 'Piloto', 'Tiempo_Grid' ,'Km/h_Grid']]
print(selected_columns_df_clean_Gridaus.head())

1 Cla_Grid                          Piloto      Tiempo_Grid Km/h_Grid
0        1             V. Bottas  Mercedes         1'02.939   246.981
1        2  M. Verstappen  Red Bull Racing  +0.538 1'03.477   244.888
2        3           L. Norris  McLaren F1  +0.687 1'03.626   244.315
3        4       A. Albon  Red Bull Racing  +0.929 1'03.868   243.389
4        5           L. Hamilton  Mercedes  +0.012 1'02.951   246.934

In [ ]:
# Leer sin encabezado
df_Result_ausGP = pd.read_csv('/content/Race_resultaods_2020_aus.csv', header=None)

# Asignar la fila 1 como nombres de columna
df_clean_Resultaus = df_Result_ausGP.copy()
df_clean_Resultaus.columns = df_clean_Resultaus.iloc[1]  # Fila 1 como encabezado

# Eliminar las filas 0 y 1 (encabezado y basura previa)
df_clean_Resultaus = df_clean_Resultaus.iloc[2:]

# Reiniciar el índice
df_clean_Resultaus.reset_index(drop=True, inplace=True)

# Mostrar el resultado
print(df_clean_Resultaus.head())

1 Cla                 Piloto   # Unnamed: 3_level_1 Vueltas  \
0   1    V. Bottas  Mercedes  77                NaN      71
1   2    C. Leclerc  Ferrari  16                NaN      71
2   3  L. Norris  McLaren F1   4                NaN      71
3   4  L. Hamilton  Mercedes  44                NaN      71
4   5   C. Sainz  McLaren F1  55                NaN      71

1              Tiempo Intervalo     Km/h Boxes Puntos  ...  \
0         1:30'55.739       NaN  202.214   2.0   25.0  ...
1  +2.700 1:30'58.439     2.700  202.114   3.0   18.0  ...
2  +5.491 1:31'01.230     2.791   202.01   3.0   16.0  ...
3  +5.689 1:31'01.428     0.198  202.003   2.0   12.0  ...
4  +8.903 1:31'04.642     3.214  201.884   3.0   10.0  ...

1 Unnamed: 90_level_1 Unnamed: 91_level_1 Unnamed: 92_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 93_level_1 Unnamed: 94_level_1 Unnamed: 95_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 96_level_1 Unnamed: 97_level_1 Unnamed: 98_level_1  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

1 Unnamed: 99_level_1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 100 columns]

In [ ]:
print(df_clean_Resultaus.columns.tolist())

['Cla_Race', 'Piloto', '#_Race', 'Unnamed: 3_level_1_Race', 'Vueltas_Race', 'Tiempo_Race', 'Intervalo_Race', 'Km/h_Race', 'Boxes_Race', 'Puntos_Race', 'Abandono_Race', 'Chasis_Race', 'Motor_Race', 'Unnamed: 13_level_1_Race', 'Unnamed: 14_level_1_Race', 'Unnamed: 15_level_1_Race', 'Unnamed: 16_level_1_Race', 'Unnamed: 17_level_1_Race', 'Unnamed: 18_level_1_Race', 'Unnamed: 19_level_1_Race', 'Unnamed: 20_level_1_Race', 'Unnamed: 21_level_1_Race', 'Unnamed: 22_level_1_Race', 'Unnamed: 23_level_1_Race', 'Unnamed: 24_level_1_Race', 'Unnamed: 25_level_1_Race', 'Unnamed: 26_level_1_Race', 'Unnamed: 27_level_1_Race', 'Unnamed: 28_level_1_Race', 'Unnamed: 29_level_1_Race', 'Unnamed: 30_level_1_Race', 'Unnamed: 31_level_1_Race', 'Unnamed: 32_level_1_Race', 'Unnamed: 33_level_1_Race', 'Unnamed: 34_level_1_Race', 'Unnamed: 35_level_1_Race', 'Unnamed: 36_level_1_Race', 'Unnamed: 37_level_1_Race', 'Unnamed: 38_level_1_Race', 'Unnamed: 39_level_1_Race', 'Unnamed: 40_level_1_Race', 'Unnamed: 41_level_1_Race', 'Unnamed: 42_level_1_Race', 'Unnamed: 43_level_1_Race', 'Unnamed: 44_level_1_Race', 'Unnamed: 45_level_1_Race', 'Unnamed: 46_level_1_Race', 'Unnamed: 47_level_1_Race', 'Unnamed: 48_level_1_Race', 'Unnamed: 49_level_1_Race', 'Unnamed: 50_level_1_Race', 'Unnamed: 51_level_1_Race', 'Unnamed: 52_level_1_Race', 'Unnamed: 53_level_1_Race', 'Unnamed: 54_level_1_Race', 'Unnamed: 55_level_1_Race', 'Unnamed: 56_level_1_Race', 'Unnamed: 57_level_1_Race', 'Unnamed: 58_level_1_Race', 'Unnamed: 59_level_1_Race', 'Unnamed: 60_level_1_Race', 'Unnamed: 61_level_1_Race', 'Unnamed: 62_level_1_Race', 'Unnamed: 63_level_1_Race', 'Unnamed: 64_level_1_Race', 'Unnamed: 65_level_1_Race', 'Unnamed: 66_level_1_Race', 'Unnamed: 67_level_1_Race', 'Unnamed: 68_level_1_Race', 'Unnamed: 69_level_1_Race', 'Unnamed: 70_level_1_Race', 'Unnamed: 71_level_1_Race', 'Unnamed: 72_level_1_Race', 'Unnamed: 73_level_1_Race', 'Unnamed: 74_level_1_Race', 'Unnamed: 75_level_1_Race', 'Unnamed: 76_level_1_Race', 'Unnamed: 77_level_1_Race', 'Unnamed: 78_level_1_Race', 'Unnamed: 79_level_1_Race', 'Unnamed: 80_level_1_Race', 'Unnamed: 81_level_1_Race', 'Unnamed: 82_level_1_Race', 'Unnamed: 83_level_1_Race', 'Unnamed: 84_level_1_Race', 'Unnamed: 85_level_1_Race', 'Unnamed: 86_level_1_Race', 'Unnamed: 87_level_1_Race', 'Unnamed: 88_level_1_Race', 'Unnamed: 89_level_1_Race', 'Unnamed: 90_level_1_Race', 'Unnamed: 91_level_1_Race', 'Unnamed: 92_level_1_Race', 'Unnamed: 93_level_1_Race', 'Unnamed: 94_level_1_Race', 'Unnamed: 95_level_1_Race', 'Unnamed: 96_level_1_Race', 'Unnamed: 97_level_1_Race', 'Unnamed: 98_level_1_Race', 'Unnamed: 99_level_1_Race']

In [ ]:
# Seleccionar las columnas de interés
selected_columns_df_clean_Resultaus = df_clean_Resultaus[[ 'Piloto','Vueltas_Race', 'Tiempo_Race', 'Intervalo_Race' ,'Km/h_Race', 'Boxes_Race', 'Puntos_Race', 'Abandono_Race']]
print(selected_columns_df_clean_Resultaus.head())

1                 Piloto Vueltas_Race         Tiempo_Race Intervalo_Race  \
0    V. Bottas  Mercedes           71         1:30'55.739            NaN
1    C. Leclerc  Ferrari           71  +2.700 1:30'58.439          2.700
2  L. Norris  McLaren F1           71  +5.491 1:31'01.230          2.791
3  L. Hamilton  Mercedes           71  +5.689 1:31'01.428          0.198
4   C. Sainz  McLaren F1           71  +8.903 1:31'04.642          3.214

1 Km/h_Race Boxes_Race Puntos_Race Abandono_Race
0   202.214        2.0        25.0           NaN
1   202.114        3.0        18.0           NaN
2    202.01        3.0        16.0           NaN
3   202.003        2.0        12.0           NaN
4   201.884        3.0        10.0           NaN

# apply merged
using merged based to driver, for join the austrian GP sesion in 1 dataset

In [ ]:
# Empezamos con FP1 como base
df_merged = selected_columns_df_clean_fp1aus.copy()

# Unimos FP2, FP3, Grid y Race uno por uno
df_merged = df_merged.merge(selected_columns_df_clean_fp2aus, on="Piloto", how="outer")
df_merged = df_merged.merge(selected_columns_df_clean_fp3aus, on="Piloto", how="outer")
df_merged = df_merged.merge(selected_columns_df_clean_Gridaus, on="Piloto", how="outer")
df_merged = df_merged.merge(selected_columns_df_clean_Resultaus, on="Piloto", how="outer")

# Verificar resultado
print(f"Total de pilotos: {df_merged.shape[0]}")
print(f"Total de columnas: {df_merged.shape[1]}")
print(df_merged.head())

Total de pilotos: 20
Total de columnas: 29
1 Cla_fp1                     Piloto #_x    Chasis_x  Motor_x Vueltas_fp1  \
0      13  A. Albon  Red Bull Racing  23    Red Bull    Honda          47
1      14  A. Giovinazzi  Alfa Romeo  99  Alfa Romeo  Ferrari          49
2       9        C. Leclerc  Ferrari  16     Ferrari  Ferrari          46
3      10       C. Sainz  McLaren F1  55     McLaren  Renault          37
4      12     D. Kvyat  Racing Bulls  26  AlphaTauri    Honda          34

1       Tiempo_fp1 Intervalo_fp1 Cla_fp2 #_y  ... Cla_Grid      Tiempo_Grid  \
0  +1.149 1'05.453          0.01      13  23  ...        4  +0.929 1'03.868
1  +1.304 1'05.608         0.155      14  99  ...       18  +2.236 1'05.175
2  +0.994 1'05.298         0.083       9  16  ...        7  +0.984 1'03.923
3  +1.048 1'05.352         0.054      10  55  ...        8  +1.032 1'03.971
4  +1.139 1'05.443         0.028      12  26  ...       13  +1.492 1'04.431

1 Km/h_Grid Vueltas_Race          Tiempo_Race Intervalo_Race Km/h_Race  \
0   243.389           67  +4 Laps 1:26'42.987         2 Laps   200.086
1   238.508           71  +21.146 1:31'16.885          3.690   201.433
2    243.18           71   +2.700 1:30'58.439          2.700   202.114
3   242.997           71   +8.903 1:31'04.642          3.214   201.884
4   241.262           69  +2 Laps 1:29'04.910         2 Laps   200.099

1 Boxes_Race Puntos_Race       Abandono_Race
0        3.0         NaN  Unidad de Potencia
1        3.0         2.0                 NaN
2        3.0        18.0                 NaN
3        3.0        10.0                 NaN
4        3.0         NaN            Puncture

[5 rows x 29 columns]

# scalad code
ussing functools

In [ ]:
from functools import reduce

# Lista de DataFrames ya renombrados
dfs = [
    selected_columns_df_clean_fp1aus,
    selected_columns_df_clean_fp2aus,
    selected_columns_df_clean_fp3aus,
    selected_columns_df_clean_Gridaus,
    selected_columns_df_clean_Resultaus
]

# Merge secuencial usando reduce
df_merged = reduce(lambda left, right: pd.merge(left, right, on="Piloto", how="outer"), dfs)

In [ ]:
print(df_merged.head())

1 Cla_fp1                     Piloto #_x    Chasis_x  Motor_x Vueltas_fp1  \
0      13  A. Albon  Red Bull Racing  23    Red Bull    Honda          47
1      14  A. Giovinazzi  Alfa Romeo  99  Alfa Romeo  Ferrari          49
2       9        C. Leclerc  Ferrari  16     Ferrari  Ferrari          46
3      10       C. Sainz  McLaren F1  55     McLaren  Renault          37
4      12     D. Kvyat  Racing Bulls  26  AlphaTauri    Honda          34

1       Tiempo_fp1 Intervalo_fp1 Cla_fp2 #_y  ... Cla_Grid      Tiempo_Grid  \
0  +1.149 1'05.453          0.01      13  23  ...        4  +0.929 1'03.868
1  +1.304 1'05.608         0.155      14  99  ...       18  +2.236 1'05.175
2  +0.994 1'05.298         0.083       9  16  ...        7  +0.984 1'03.923
3  +1.048 1'05.352         0.054      10  55  ...        8  +1.032 1'03.971
4  +1.139 1'05.443         0.028      12  26  ...       13  +1.492 1'04.431

1 Km/h_Grid Vueltas_Race          Tiempo_Race Intervalo_Race Km/h_Race  \
0   243.389           67  +4 Laps 1:26'42.987         2 Laps   200.086
1   238.508           71  +21.146 1:31'16.885          3.690   201.433
2    243.18           71   +2.700 1:30'58.439          2.700   202.114
3   242.997           71   +8.903 1:31'04.642          3.214   201.884
4   241.262           69  +2 Laps 1:29'04.910         2 Laps   200.099

1 Boxes_Race Puntos_Race       Abandono_Race
0        3.0         NaN  Unidad de Potencia
1        3.0         2.0                 NaN
2        3.0        18.0                 NaN
3        3.0        10.0                 NaN
4        3.0         NaN            Puncture

[5 rows x 29 columns]

# download the dataset

In [ ]:
df_merged.to_csv("AUS_GP_2020.csv", index=False)